.App{
    height: 100vh;
    color: #000;
    margin: 0 100px;
}

.content{
    max-width: 1000px;
    margin: 0 auto;
    padding: 5rem 0;
}

.searchPanel{
    margin-top: 1.5rem;
    padding: 1.5rem;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 15px 15px 38px rgba(0, 0, 0,1.5);
}